@use "sass:map";

$primary: #096878;
$onPrimary: #FFFFFF;
$primaryContainer: #A9EDFF;
$onPrimaryContainer: #001F26;

$secondary: #4B6268;
$onSecondary: #FFFFFF;
$secondaryContainer: #CEE7EE;
$onSecondaryContainer: #061F24;

$tertiary: #565D7E;
$onTertiary: #FFFFFF;
$tertiaryContainer: #DDE1FF;
$onTertiaryContainer: #121A37;

$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;

$primaryFixed: #A9EDFF;
$primaryFixedDim: #84D2E6;
$onPrimaryFixed: #001F26;
$onPrimaryFixedVariant: #004E5B;

$secondaryFixed: #CEE7EE;
$secondaryFixedDim: #B2CBD2;
$onSecondaryFixed: #061F24;
$onSecondaryFixedVariant: #334A50;

$tertiaryFixed: #DDE1FF;
$tertiaryFixedDim: #BEC5EB;
$onTertiaryFixed: #121A37;
$onTertiaryFixedVariant: #3E4565;

$surfaceDim: #D5DBDD;
$surface: #F5FAFC;
$surfaceBright: #F5FAFC;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #EFF4F6;
$surfaceContainer: #E9EFF1;
$surfaceContainerHigh: #E4E9EB;
$surfaceContainerHighest: #DEE3E5;

$onSurface: #171C1E;
$onSurfaceVariant: #3F484B;
$outline: #6F797B;
$outlineVariant: #BFC8CB;

$inverseSurface: #2B3133;
$inverseOnSurface: #ECF2F4;
$inversePrimary: #84D2E6;

$scrim: #000000;
$shadow: #000000;

\:root{
    --primary: #{$primary};
    --onPrimary: #{$onPrimary};
    --primaryContainer: #{$primaryContainer};
    --onPrimaryContainer: #{$onPrimaryContainer};

    --secondary: #{$secondary};
    --onSecondary: #{$onSecondary};
    --secondaryContainer: #{$secondaryContainer};
    --onSecondaryContainer: #{$onSecondaryContainer};

    --tertiary: #{$tertiary};
    --onTertiary: #{$onTertiary};
    --tertiaryContainer: #{$tertiaryContainer};
    --onTertiaryContainer: #{$onTertiaryContainer};

    --error: #{$error};
    --onError: #{$onError};
    --errorContainer: #{$errorContainer};
    --onErrorContainer: #{$onErrorContainer};

    --primaryFixed: #{$primaryFixed};
    --primaryFixedDim: #{$primaryFixedDim};
    --onPrimaryFixed: #{$onPrimaryFixed};
    --onPrimaryFixedVariant: #{$onPrimaryFixedVariant};

    --secondaryFixed: #{$secondaryFixed};
    --secondaryFixedDim: #{$secondaryFixedDim};
    --onSecondaryFixed: #{$onSecondaryFixed};
    --onSecondaryFixedVariant: #{$onSecondaryFixedVariant};

    --tertiaryFixed: #{$tertiaryFixed};
    --tertiaryFixedDim: #{$tertiaryFixedDim};
    --onTertiaryFixed: #{$onTertiaryFixed};
    --onTertiaryFixedVariant: #{$onTertiaryFixedVariant};

    --surfaceDim: #{$surfaceDim};
    --surface: #{$surface};
    --surfaceBright: #{$surfaceBright};
    --surfaceContainerLowest: #{$surfaceContainerLowest};
    --surfaceContainerLow: #{$surfaceContainerLow};
    --surfaceContainer: #{$surfaceContainer};
    --surfaceContainerHigh: #{$surfaceContainerHigh};
    --surfaceContainerHighest: #{$surfaceContainerHighest};

    --onSurface: #{$onSurface};
    --onSurfaceVariant: #{$onSurfaceVariant};
    --outline: #{$outline};
    --outlineVariant: #{$outlineVariant};

    --inverseSurface: #{$inverseSurface};
    --inverseOnSurface: #{$inverseOnSurface};
    --inversePrimary: #{$inversePrimary};

    --scrim: #{$scrim};
    --shadow: #{$shadow};
}

$mobile-landscape: 576px;
$tablet: 768px;
$desktop: 992px;
$wild-screen: 1200px;
$breakpoints: ("small": $mobile-landscape, "medium": $tablet,"large": $desktop, "extra-large": $wild-screen);

