// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Lexend Deca', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary:       #2f6a43;
$secondary:     #A63E36;
$success:       #04A649;
$info:          #0DCAF0FF;
$warning:       #FFC107FF;
$danger:        #DC3545FF;
$light:         #FDFDFDFF;
$dark:          #000000;
